
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.tudo{
    background-image: linear-gradient(45deg, #0D0C0C, #A61458);
    height: 100vh; 
    color: antiquewhite;
    
}


.form{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}


.botao{
    width: 60px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    background-color: #005C53;
    border: none;
    color: white;
    transition: 0.75s;
    margin: 2px;
}

.botao:hover{
    background-color: black;
    transition: 0.75s;
}